@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.dark {
  --color-bg: #20212C;
  --color-scroll: #3E3F4E;
  --color-borderLine: #3E3F4E;
  --color-main: #2B2C37;
  --color-title: #ffffff;
  --color-subTitle: #ffffff;
  --color-board: #20212C;
  --color-themeSwitchBox: #20212C;
  --color-addButton: #635FC7;
  --color-ellipsis: #20212C;
  --color-checked: rgba(255, 255, 255, .5);
  --color-text-theme: #ffffff;
}
.light {
  --color-bg: #F4F7FD;
  --color-scroll: #828fa3;
  --color-borderLine: #E4EBFA;
  --color-main: #ffffff;
  --color-title: #000000;
  --color-subTitle: #828fa3;
  --color-board: #ffffff;
  --color-themeSwitchBox: #F4F7FD;
  --color-addButton: #635FC7;
  --color-ellipsis: #E4EBFA;
  --color-checked: rgba(0, 0, 0, .5);
  --color-text-theme: #ffffff;
}
.App {
  position: relative;
}
/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: var(--color-main);
  color: var(--color-title);
  position: relative;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.btnTheme {
  padding: 10px 20px;
  border: none ;
  border-radius: 10px;
  cursor: pointer;
  background: var(--color-addButton);
  color: var(--color-text-theme);
  font-size: 16px;
  margin-right: 20px;
  font-weight: bold;
}
.btnTheme:hover {
  opacity: .8;
}
.btnTheme i {
  margin-right: 8px;
}
.avt i {
  font-size: 1.5rem;
  color: var(--color-title);
  cursor: pointer;
}
.nav .group {
  display: flex;
  align-items: center;
}
/* modal user */

.modalUser {
  position: absolute;
  top: 110%;
  right: 20px; 
  width: 150px;
  background: var(--color-main);
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  z-index: 999;
}
.modalUser .option {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  color: #a1a1a1;
}
.modalUser .option i {
  margin-right: 10px;
  font-size: 1rem;
  color: #a1a1a1;
}
.modalUser .delete {
  color:#ea5555;
}
.modalUser .option:hover {
  opacity: .8;
}


/* Card Task */
.container {
  width: 100%;
  padding: 40px 20px;
  background: var(--color-bg);
  height: 100vh;
}
.tasks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.red {
  border: 2px solid #ea5555;
}
.green {
  border: 2px solid #6ec36e; 
}
.cardTask {
  width: 300px;
  display: inline-block;
  padding: 20px;
  color: var(--color-title);
  background: var(--color-main);
  border-radius: 10px;
  cursor: grab;
  /*  */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.cardTask:active {
  cursor: grabbing;
}

.cardTask:hover {
  opacity: .8;
}
.cardTask .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.cardTask .description {
  color: #a1a1a1;
  word-break: break-word;
}
.cardTask .description pre {
  white-space: pre-wrap;
}

/* modalTask */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalTask {
  width: 31.25rem;
  padding: 20px;
  background: var(--color-main);
  border-radius: 10px;
  color: var(--color-title);
}
.modalTask .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modalTask .header .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.modalTask .header .more {
  position: relative;
}
.modalTask .header .more .btnMore {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #a1a1a1;
  
}
.modalTask .header .more .btnMore:hover {
  background: var(--color-board);
  color: var(--color-title);
}

.modalTask .description {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: #a1a1a1;
  word-break: break-word;
}
.modalTask .description pre {
  white-space: pre-wrap;
}
.modalTask h4 {
  margin-bottom: 10px;
}
.status {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #a1a1a1;
  background: var(--color-main);
  color: var(--color-title);
  cursor: pointer;

  /* arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

}
.status:focus {
  outline: none;
  border: 2px solid var(--color-addButton);
}
/* More */
.moreOptions {
  position: absolute;
  top: 60%;
  transform: translateX(-50%);
  width: 150px;
  background: var(--color-main);
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
.moreOptions .option {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #a1a1a1;
}
.moreOptions .option i {
  margin-right: 10px;
}
.moreOptions .delete {
  color:#ea5555;
}
.moreOptions .option:hover {
  opacity: .8;
}

/* btnAddTask */
.btnAddTask {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: var(--color-addButton);
  color: var(--color-text-theme);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

/* Modal Edit Task */
.modalForm {
  width: 31.25rem;
  padding: 20px;
  background: var(--color-main);
  border-radius: 10px;
  color: var(--color-title);
}
.modalForm .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.modalForm .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modalForm .form .formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalForm .form .formGroup label {
  font-size: 1rem;
  color: #a1a1a1;
}
.modalForm .form .formGroup input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #a1a1a1;
  background: var(--color-main);
  color: var(--color-title);
}
.modalForm .form .formGroup input:focus {
  outline: none;
  border: 2px solid var(--color-addButton);
}
.modalForm .form .formGroup textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #a1a1a1;
  background: var(--color-main);
  color: var(--color-title);
  resize: none;
}
.modalForm .form .formGroup textarea:focus {
  outline: none;
  border: 2px solid var(--color-addButton);
}
.modalForm .form .formGroup select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #a1a1a1;
  background: var(--color-main);
  color: var(--color-title);

  /* arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.modalForm .form .formGroup select:focus {
  outline: none;
  border: 2px solid var(--color-addButton);
}
.modalForm .form .formGroup .btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: var(--color-addButton);
  color: var(--color-title);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.modalForm .form .formGroup .btn:hover {
  opacity: .8;
}

/* Modal Delete */
.modalDelete {
  width: 31.25rem;
  padding: 35px;
  background: var(--color-main);
  border-radius: 10px;
  color: var(--color-title);
}
.modalDelete .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ea5555;
}
.modalDelete .remind {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #a1a1a1;
}
.modalDelete .btnGroup {
  display: flex;
  justify-content: space-between;
}
.modalDelete .btnGroup .btn {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.modalDelete .btnGroup .btnCancel {
  background: #dee1e7 ;
  color:var(--color-addButton) ;
}
.modalDelete .btnGroup .btnDelete {
  background: #ea5555;
  color: var(--color-text-theme);
}
.modalDelete .btnGroup .btn:hover {
  opacity: 0.8;
}

/* Loading */
@keyframes bounce-loader {
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}

.bounce-loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bounce-loading > div {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bounce-loader 0.6s infinite alternate;
}

.bounce-loading > div:nth-child(2) {
  animation-delay: 0.15s;
}

.bounce-loading > div:nth-child(3) {
  animation-delay: 0.3s;
}

.bounce-loading > div:last-child {
  animation-delay: 0.45s;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background: var(--color-main);
  color: #a1a1a1;
  font-size: 0.75rem;
  text-align: center;
}
.footer a {
  color: var(--color-addButton);
  text-decoration: none;
}


/* Input */
.isEmpty {
  border: 2px solid #ea5555!important;
}